.box {
    max-width: 1850px;
    margin: 100px 200px;

    .basket-title {
        text-align: center;
        margin-bottom: 25px;
    }

    .basket {
        border: 1px solid rgba(130,130,130,.3);
        border-radius: 15px;
        margin-bottom: 50px;

            .row {
                margin-right: 0;
                margin-left: 0;
            }

        #list {
            text-align: center;
            padding: 15px 0;
            font-size: 18px;

            .title-info {
                padding: 0;

                p {
                    margin: 0;
                }
            }
        }

        hr {
            opacity: 0.2;
            margin: 0;
        }

        #purchase-data {
            align-items: center;

            .overall-info {
                align-items: center;
                display: flex;
                padding: 0;

                .product-photo {
                    text-align: center;

                    img {
                        width: 50%;
                    }
                }

                .short-description {
                    display: grid;

                    h2 {
                        margin: 0;
                        font-size: 1.5rem;
                    }
                }
            }

            .price {
                display: grid;
                text-align: center;
                font-size: 21px;
            }

            .count {
                display: ruby;
                text-align: center;
                font-size: 20px;
                font-weight: 300;
            }

            .final-price {
                display: grid;
                text-align: center;
                font-size: 21px;
                font-weight: 500;
            }

            .price, .count, .final-price {
                padding: 0;

                p {
                    margin: 0;
                }
            }

            .trash-icon {
                text-align: center;

                .product-delete {
                    background-color: white;
                    border: none;
                }
            }
        }

        .summarize {
            justify-content: right;
            display: flex;
            font-size: 18px;
            padding: 15px 0 ;

            .total-count, .total-in-words, .total-price {
                align-items: center;
                display: flex;
                justify-content: center;

                p {
                    margin: 0;
                }
            }

            .total-price {
                font-size: 23px;
                font-weight: 500;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: center;

        a {
            margin: 0 5px;
            text-decoration: none;
        }

        .back-button-link {
            border: 2px solid #000;
            background-color: white;
            font-size: 25px;
            padding: 5px 35px;
            border-radius: 30px;
            color: #000000;
        }

        .order-button-link {
            border: 2px solid #000;
            background-color: #000;
            font-size: 25px;
            padding: 5px 43px;
            border-radius: 30px;
            color: white;

            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .mobile .box {
        max-width: 991px;
        margin: 50px;

        .basket-title {
            font-size: 2rem;
        }

        .basket {
            #purchase-data {
                .overall-info {
                    .product-photo {
                        img {
                            max-width: 50%;
                            width: auto;
                        }
                    }

                    .short-description {
                        h2 {
                            font-size: 1.2rem;
                        }
                    }
                }

                .price, .final-price {
                    font-size: 20px;
                }

                .count {
                    font-size: 19px;
                }
            }

            .summarize {
                .total-count, .total-in-words {
                    font-size: 17px;
                }

                .total-price {
                    font-size: 21px;
                }
            }
        }

        .buttons {
            .back-button-link, .order-button-link {
                font-size: 20px;
                display: flex;
                align-items: center;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .mobile .box {
        max-width: 767px;
        margin: 20px 10px 0;

        .basket-title {
            font-size: 1.5rem;
        }

        .basket {
            #list {
                align-items: center;
                padding: 10px 0;
                font-size: 16px;
            }

            #purchase-data {
                .overall-info {
                    .product-photo {
                        img {
                            max-width: 50%;
                            width: auto;
                        }
                    }

                    .short-description {
                        h2 {
                            font-size: 1rem;
                        }
                    }
                }

                .price, .final-price {
                    font-size: 18px;
                }

                .count {
                    font-size: 17px;
                }
            }

            .summarize {
                padding: 10px 0;

                .total-count, .total-in-words {
                    font-size: 16px;
                }

                .total-price {
                    font-size: 18px;
                }
            }
        }

        .buttons {
            .back-button-link, .order-button-link {
                font-size: 18px;
                display: flex;
                align-items: center;
                padding: 5px 25px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .mobile .box {
        max-width: 575px;
        margin: 20px 10px 0;

        .basket-title {
            font-size: 1.5rem;
        }

        .basket {
            border: none;
            border-radius: 0;
            margin-bottom: 50px;

            hr {
                opacity: 0.1;
            }

            #list, .mobile-price-summary {
                hr {
                    opacity: 0.1;
                }
            }
            #purchase-data {
                margin: 20px 0;

                .overall-info {
                    .product-photo {
                        img {
                            justify-content: start;
                            display: flex;
                            padding-left: 12px;
                            width: 70%;
                        }
                    }

                    .short-description {
                        max-width: 60%;
                        width: auto;

                        h2 {
                            font-size: 1.3rem;
                        }
                    }
                }

                .mobile-trash-icon {
                    text-align: center;

                    .product-delete {
                        background-color: white;
                        border: none;
                    }
                }
            }

            .mobile-price-summary {
                .price, .count, .final-price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 0;
                }

                .price, .count, .final-price {
                    p {
                        margin: 0;
                    }
                }
            }

            .summarize {
                padding: 30px 0 0;
                .total-count, .total-in-words {
                    font-size: 16px;
                }

                .total-price {
                    font-size: 20px;
                }
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .back-button-link, .order-button-link {
                padding: 5px 30px;
                margin: 5px;
                font-size: 20px;
            }
        }
    }
}
