.content {
    max-width: 1850px;
    margin: auto 200px;

    .header {
        margin: 20px 0;
        height: 50px;
        border-bottom: 1px solid rgba(130, 130, 130, 0.3);
        display: list-item;
        list-style-type: none;

        .row {
            .col-lg-6:nth-child(1) p {
                font-size: 20px;
            }

            .col-lg-6:nth-child(2) {
                text-align: right;

                button.log-in {
                    border: none;
                    background-color: #ffffff;
                }
            }
        }
    }

    .main-content {
        .aside {
            width: 400px;
            margin-top: 50px;
            border: 1px solid rgba(130, 130, 130, 0.3);
            border-radius: 15px;
            padding: 20px;

            h5 {
                margin-bottom: 2.5rem;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;

                li {
                    padding: 5px 0;
                    color: #82868a;
                    font-size: 15px;

                    a:hover {
                        text-decoration: none;
                    }
                }

                li.category {
                    button.deploy-list {
                        border: none;
                        color: black;
                        background-color: white;
                    }

                    .subcategories {
                        display: none;
                    }
                }
            }
        }
    }
}
