.content {
    max-width: 1850px;
    margin: auto 200px;

    .header {
        margin: 20px 0;
        height: 50px;
        border-bottom: 1px solid rgba(130, 130, 130, 0.3);
        display: list-item;
        list-style-type: none;

        .row {
            align-items: center;
            display: flex;

            .col-lg-6, p {
                font-size: 20px;
                margin: 0;

                a {
                    color: #000;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: none;
                    color: #82868a;
                }
            }

            .col-lg-3 {
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .search-button {
                .search-form {
                    display: inline-flex;

                    .product-search {
                        outline: none;
                        border: 1px solid rgba(130,130,130,0.9);
                        border-radius: 12px;
                        font-size: 20px;
                        padding-left: 10px;
                    }

                    .search-button-btn {
                        background: none;
                        border: none;
                    }
                }
            }

            .col-lg-3:nth-child(3) {
                justify-content: end;
            }

            .navi-buttons {
                display: inline-flex;
                gap: 20px;

                button.log-in, button.basket-logo, button.mobile-list {
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                }

                .button.mobile-list {
                    display: none;
                }
            }
        }
    }

    .main-content {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .aside {
            padding: 0 30px 0 0;

            .aside-in {
                border: 1px solid rgba(130, 130, 130, 0.3);
                border-radius: 15px;
                padding: 20px;
                margin: 0 auto 0 0;
                max-width: 333px;
                width: auto;

                h4 {
                    margin-bottom: 1.5rem;
                    text-align: center;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;

                    li {
                        padding: 5px 0;
                        color: #82868a;
                        font-size: 15px;

                        a:hover {
                            text-decoration: none;
                        }
                    }

                    li.category {
                        padding: 5px 0;
                        color: #82868a;
                        font-size: 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        button.deploy-list {
                            border: none;
                            color: black;
                            background-color: white;
                        }
                    }

                    ul.subcategories {
                        display: none;
                        margin-left: 20px;
                    }
                }
            }
        }

        .products {
            .sort-menu {
                gap: 10px;
                display: flex;
                padding: 0;
                justify-content: right;
                align-items: center;

                span {
                    margin: 0;
                    font-size: 17px;
                    color: #5e5e5e;
                }

                select {
                    font-size: 15px;
                    padding: 7px 10px;
                    border: 1px solid;
                    border-radius: 18px;
                    background-color: #fff;
                    color: #5e5e5e;
                }
            }

            .row {
                margin: 0;

                .search-alert, .category-alert {
                    font-size: 20px;
                }

                .outcome {
                    border-bottom: 1px solid rgba(130,130,130,.2);
                    padding: 50px 0;
                    display: block;

                    .product-info {
                        display: inline-flex;
                        align-items: center;
                    }

                    .product-photo-grid {
                        img.product-photo {
                            max-width: 100%;
                            width: auto;
                        }
                    }
                    .product-text{
                        padding-left: 30px;
                        max-width: 83%;
                        width: auto;

                        h2 {
                            font-size: 2rem;
                            margin-bottom: 15px;
                            color: #000000;
                        }

                        p {
                            color: #82868a;
                            font-size: 15px;
                            margin-bottom: 3rem;
                        }
                    }

                    .purchase {
                        float: right;
                        display: inline-flex;

                        h3 {
                            font-size: 2rem;
                            margin-right: 50px;
                            color: #828282;
                        }

                        button.add-to-card {
                            background-color: black;
                            color: white;
                            font-size: 15px;
                            border-radius: 33px;
                            border: none;
                            padding: 0 41px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .mobile .content {
        max-width: 1024px;
        margin: 0 50px;
        display: block;

        .header {
            height: 90px;

            .row {
                .mobile-search-button {
                    padding-top: 15px;

                    .input-group {
                        outline: none;
                        border: 1px solid rgba(130,130,130,0.9);
                        border-radius: 12px;
                        font-size: 20px;
                        padding-left: 10px;
                        justify-content: space-between;

                        .product-search {
                            outline: none;
                            border: none;
                            padding-left: 10px;
                        }

                        .search-button-btn {
                            background: none;
                            border: none;
                            display: grid;
                            align-items: center;
                            padding-right: 20px;
                        }
                    }
                }

                .search-button {
                    display: none;
                }
            }
        }

        .main-content {
            .aside {
                display: none;
            }

            .mobile-aside {
                padding: 0;

                .offcanvas-header {
                    border-bottom: 1px solid rgba(130,130,130,0.3);

                    .offcanvas-title {
                        text-align: center;
                    }
                }

                .offcanvas-body {
                    padding: 30px 72px 0;

                    .list-group {
                        list-style-type: none;

                        .nav-link {
                            padding: 5px 0;
                            color: #82868a;
                        }
                    }
                }
            }

            .products {
                .outcome {
                    .product-info {
                        .product-photo-grid {
                            display: flex;
                            justify-content: center;

                            .product-photo {
                                max-width: 60%;
                                width: auto;
                            }
                        }

                        .product-text {
                            padding: 12px 0;
                            text-align: center;
                            height: 110px;


                            h2 {
                                font-size: 1.5rem;
                                margin: 0;
                            }

                            p {
                                display: none;
                            }
                        }
                    }

                    .purchase {
                        float: none;

                        h3 {
                            margin: 0;
                            font-size: 1.5rem;
                            padding: 0 20px;
                        }

                        .add-to-card {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .mobile {
        .content {
            max-width: 767px;
            margin: auto 20px;

            .header {
                height: 90px;

                .row {
                    .mobile-search-button {
                        padding-top: 15px;

                        .input-group {
                            outline: none;
                            border: 1px solid rgba(130,130,130,0.9);
                            border-radius: 12px;
                            font-size: 20px;
                            padding-left: 10px;
                            justify-content: space-between;

                            .product-search {
                                outline: none;
                                border: none;
                                padding-left: 10px;
                            }

                            .search-button-btn {
                                background: none;
                                border: none;
                                display: grid;
                                align-items: center;
                                padding-right: 20px;
                            }
                        }
                    }

                    .search-button {
                        display: none;
                    }
                }
            }

            .main-content {
                .aside {
                    display: none;
                }

                .mobile-aside {
                    padding: 0;

                    .offcanvas-header {
                        border-bottom: 1px solid rgba(130,130,130,0.3);

                        .offcanvas-title {
                            text-align: center;
                        }
                    }

                    .offcanvas-body {
                        padding: 30px 72px 0;

                        .list-group {
                            list-style-type: none;

                            .nav-link {
                                padding: 5px 0;
                                color: #82868a;
                            }
                        }
                    }
                }

                .products {
                    .outcome {
                        padding: 40px 0;

                        .product-info {
                            .product-photo-grid {
                                display: flex;
                                justify-content: center;

                                .product-photo {
                                    max-width: 60%;
                                    width: auto;
                                }
                            }

                            .product-text {
                                padding: 12px 0;
                                text-align: center;
                                height: 100px;

                                h2 {
                                    font-size: 1.5rem;
                                    margin: 0;
                                }

                                p {
                                    display: none;
                                }
                            }
                        }

                        .purchase {
                            float: none;

                            h3 {
                                margin: 0;
                                font-size: 1.5rem;
                                padding: 0 20px;
                            }

                            .add-to-card {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .mobile {
        .content {
            max-width: 767px;
            margin: auto 20px;

            .header {
                height: 90px;

                .row {
                    .mobile-search-button {
                        padding-top: 15px;

                        .input-group {
                            outline: none;
                            border: 1px solid rgba(130,130,130,0.9);
                            border-radius: 12px;
                            font-size: 20px;
                            padding-left: 10px;
                            justify-content: space-between;

                            .product-search {
                                max-width: 50%;
                                width: auto;
                                outline: none;
                                border: none;
                                padding-left: 10px;
                            }

                            .search-button-btn {
                                background: none;
                                border: none;
                                display: grid;
                                align-items: center;
                                padding-right: 20px;
                            }
                        }
                    }

                    .search-button {
                        display: none;
                    }
                }
            }

            .main-content {
                .aside {
                    display: none;
                }

                .mobile-aside {
                    padding: 0;

                    .offcanvas-header {
                        border-bottom: 1px solid rgba(130,130,130,0.3);

                        .offcanvas-title {
                            text-align: center;
                        }
                    }

                    .offcanvas-body {
                        padding: 30px 72px 0;

                        .list-group {
                            list-style-type: none;

                            .nav-link {
                                padding: 5px 0;
                                color: #82868a;
                            }
                        }
                    }
                }

                .products {
                    .outcome {
                        padding: 30px 0;

                        .product-info {
                            .product-photo-grid {
                                display: flex;
                                justify-content: center;

                                .product-photo {
                                    max-width: 40%;
                                    width: auto;
                                }
                            }

                            .product-text {
                                display: inline-flex;
                                justify-content: center;
                                max-width: none;
                                width: 100%;
                                padding: 12px 0;

                                h2 {
                                    font-size: 1.5rem;
                                    margin: 0;
                                }

                                p {
                                    display: none;
                                }
                            }
                        }

                        .purchase {
                            float: none;

                            h3 {
                                margin: 0;
                                font-size: 1.5rem;
                                padding: 0 20px;
                            }

                            .add-to-card {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .content .mobile-list,
    .content .mobile-search-button {
        display: none;
    }
}

