.content {
    max-width: 1850px;
    margin: auto 200px;

    .header {
        margin: 20px 0;
        height: 50px;
        border-bottom: 1px solid rgba(130, 130, 130, 0.3);
        display: list-item;
        list-style-type: none;

        .row {
            .col-lg-6:nth-child(1) p {
                font-size: 20px;

                a {
                    color: #000;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: none;
                    color: #82868a;
                }
            }

            .col-lg-6:nth-child(2) {
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .search-button {
                    .search-form {
                        display: inline-flex;

                        .product-search {
                            outline: none;
                            border: 1px solid rgba(130,130,130,0.9);
                            border-radius: 12px;
                            font-size: 20px;
                            padding-left: 10px;
                        }

                        .search-button-btn {
                            background: none;
                            border: none;
                        }
                    }
                }

                .navi-buttons {
                    display: inline-flex;
                    gap: 20px;

                    button.log-in, button.basket-logo {
                        background: none;
                        border: none;
                        cursor: pointer;
                        padding: 0;
                    }
                }
            }
        }
    }

    .main-content {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .aside {
            padding: 0;

            .aside-in {
                width: 333px;
                border: 1px solid rgba(130, 130, 130, 0.3);
                border-radius: 15px;
                padding: 20px;

                h2 {
                    margin-bottom: 2.5rem;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;

                    li {
                        padding: 5px 0;
                        color: #82868a;
                        font-size: 15px;

                        a:hover {
                            text-decoration: none;
                        }
                    }

                    li.category {
                        padding: 5px 0;
                        color: #82868a;
                        font-size: 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        button.deploy-list {
                            border: none;
                            color: black;
                            background-color: white;
                        }
                    }

                    ul.subcategories {
                        display: none;
                        margin-left: 20px;
                    }
                }
            }
        }

        .products {
            .col-lg-12 {
                .sort-menu {
                    float: right;
                    display: flex;
                    padding: 0;
                    justify-content: space-around;
                    align-items: center;

                    span {
                        margin: 0;
                        font-size: 17px;
                        color: #5e5e5e;
                    }

                    select {
                        font-size: 15px;
                        padding: 7px 10px;
                        border: 1px solid;
                        border-radius: 18px;
                        background-color: #fff;
                        color: #5e5e5e;
                    }
                }
            }

            .row {
                .search-alert, .category-alert {
                    font-size: 20px;
                }

                .outcome {
                    border-bottom: 1px solid rgba(130,130,130,.2);
                    padding: 20px 0 75px 0;

                    .col-sm-2 {
                        img.product-photo {
                            width: 137px;
                        }
                    }
                    .col-sm-10 {
                        padding-left: 30px;

                        h2 {
                            font-size: 3rem;
                            margin-bottom: 15px;
                            color: #000000;
                        }

                        p {
                            color: #82868a;
                            font-size: 15px;
                            margin-bottom: 3rem;
                        }
                    }

                    .purchase {
                        float: right;
                        display: inline-flex;

                        h3 {
                            font-size: 3rem;
                            margin-right: 50px;
                            color: #000000;
                        }

                        button.add-to-card {
                            background-color: black;
                            color: white;
                            font-size: 15px;
                            border-radius: 33px;
                            border: none;
                            padding: 0 41px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
