.content {
    max-width: 1850px;
    margin: auto 200px;

    .header {
        margin: 20px 0;
        height: 50px;
        border-bottom: 1px solid rgba(130, 130, 130, 0.3);
        display: list-item;
        list-style-type: none;

        .row {
            align-items: center;
            display: flex;

            .col-lg-6, p {
                font-size: 20px;
                margin: 0;

                a {
                    color: #000;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: none;
                    color: #82868a;
                }
            }

            .navi-buttons {
                display: inline-flex;
                gap: 20px;
                justify-content: end;

                button.log-in, button.basket-logo, button.mobile-list {
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                    align-items: center;
                    display: flex;
                }

                .button.mobile-list {
                    display: none;
                }
            }
        }
    }

    .main-content {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .aside {
            padding: 0 30px 0 0;

            .aside-in {
                border: 1px solid rgba(130, 130, 130, 0.3);
                border-radius: 15px;
                padding: 20px;
                margin: 0 auto 0 0;
                max-width: 333px;
                width: auto;

                h4 {
                    margin-bottom: 1.5rem;
                    text-align: center;
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;

                    li {
                        padding: 5px 0;
                        color: #82868a;
                        font-size: 15px;

                        a:hover {
                            text-decoration: none;
                        }
                    }

                    li.category {
                        padding: 5px 0;
                        color: #82868a;
                        font-size: 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        button.deploy-list {
                            border: none;
                            color: black;
                            background-color: white;
                        }
                    }

                    ul.subcategories {
                        display: none;
                        margin-left: 20px;
                    }
                }
            }
        }

        .product-view {
            padding: 0;

            .row {
                .product-photo {
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    align-items: baseline;

                    img {
                        width: 75%;
                    }
                }

                .product-description {
                    padding: 0;

                    width: 50%;

                    .description {
                        border-bottom: 3px solid rgba(130,130,130,.3);
                        padding-bottom: 75px;

                        .product-title {
                            font-size: 2.5rem;
                            margin-bottom: 30px;
                        }

                        .product-price {
                            font-size: 2rem;
                            margin-bottom: 30px;
                            font-weight: 700;
                            color: #828282;
                        }

                        .text-content {
                            p {
                                font-size: 15px;
                                color: #43576b;
                            }
                        }
                    }


                    .purchase {
                        margin-top: 30px;
                        justify-content: center;
                        display: flex;

                        .counter {
                            display: inline-flex;
                            align-items: center;
                            border-radius: 30px;
                            background-color: #ececec;
                            margin-right: 10px;

                            input#product-quantity {
                                border: none;
                                background-color: #ececec;
                                text-align: center;
                                width: 75px;
                                font-size: 15px;
                                border-radius: 30px;
                                outline: none;
                            }
                        }

                        button.add-to-card {
                            background-color: black;
                            color: white;
                            font-size: 15px;
                            border-radius: 33px;
                            border: none;
                            padding: 6px 30px;
                            font-weight: 700;
                            display: inline-flex;
                            gap: 15px;
                            align-items: center;

                            p {
                                margin: 0;
                            }

                            .bi-basket {
                                flex-shrink: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    #popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        z-index: 1000;
        width: 50%;
        height: 50%;
        justify-content: center;
        display: inline-flex;
        text-align: center;
        align-items: center;
        border-radius: 30px;

        .popup {
            button {
                margin: 0 5px;
            }

            .back-button {
                border: 2px solid #000;
                background-color: white;
                font-size: 25px;
                padding: 5px 27px;
                border-radius: 30px;
                margin: 10px;
            }

            .order-button {
                border: 2px solid #000;
                background-color: #000;
                font-size: 25px;
                padding: 5px 43px;
                border-radius: 30px;
                margin: 10px;

                a {
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .content .mobile-list,
    .content .mobile-text-content {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .mobile .content {
        max-width: 1024px;
        margin: 0 50px;

        .main-content {
            margin: 50px auto;
            display: block;
            justify-content: initial;

            .aside {
                display: none;
            }

            .mobile-aside {
                padding: 0;

                .offcanvas-header {
                    border-bottom: 1px solid rgba(130,130,130,0.3);

                    .offcanvas-title {
                        text-align: center;
                    }
                }

                .offcanvas-body {
                    padding: 30px 72px 0;

                    .list-group {
                        list-style-type: none;

                        .nav-link {
                            padding: 5px 0;
                            color: #82868a;
                        }
                    }
                }
            }

            .product-view {
                .row {
                    .product-photo {
                        padding: 0;
                        align-items: baseline;

                        img {
                            max-width: 53%;
                            width: auto;
                        }
                    }

                    .product-description {
                        padding: 0;
                        max-width: 50%;
                        width: auto;

                        .description {
                            border-bottom: 2px solid rgba(130,130,130,.3);
                            padding-bottom: 50px;

                            .product-title {
                                font-size: 2rem;
                            }

                            .product-price {
                                font-size: 1.5rem;
                                margin: 0;
                                font-weight: 600;
                            }

                            .text-content {
                                display: none;
                            }
                        }

                        .purchase {
                            width: 100%;
                            justify-content: space-between;
                            display: inline-flex;
                            float: none;

                            .add-to-card {
                                display: flex;
                                gap: 15px;

                                p {
                                    margin: 0;
                                }
                                .bi-basket {
                                }
                            }
                        }
                    }
                }
            }
        }

        #popup {
            .popup {
                .back-button, .order-button {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .mobile .content {
        max-width: 767px;
        margin: 0 20px;

        .main-content {
            margin: 50px auto;
            display: block;
            justify-content: initial;

            .aside {
                display: none;
            }

            .mobile-aside {
                padding: 0;

                .offcanvas-header {
                    border-bottom: 1px solid rgba(130,130,130,0.3);

                    .offcanvas-title {
                        text-align: center;
                    }
                }

                .offcanvas-body {
                    padding: 30px 72px 0;

                    .list-group {
                        list-style-type: none;

                        .nav-link {
                            padding: 5px 0;
                            color: #82868a;
                        }
                    }
                }
            }

            .product-view {
                .row {
                    .product-photo {
                        padding: 0;
                        align-items: baseline;

                        img {
                            max-width: 53%;
                            width: auto;
                        }
                    }

                    .product-description {
                        padding: 0;
                        max-width: 50%;
                        width: auto;

                        .description {
                            border-bottom: 2px solid rgba(130,130,130,.3);
                            padding-bottom: 50px;

                            .product-title {
                                font-size: 2rem;
                            }

                            .product-price {
                                font-size: 1.5rem;
                                margin: 0;
                                font-weight: 600;
                            }

                            .text-content {
                                display: none;
                            }
                        }

                        .purchase {
                            width: 100%;
                            justify-content: space-between;
                            display: inline-flex;
                            float: none;

                            .add-to-card {
                                display: flex;
                                align-items: center;
                                gap: 15px;

                                p {
                                    margin: 0;
                                }

                                svg.bi-basket {
                                    flex-shrink: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        #popup {
            width: 60%;
            padding: 0;
            .popup {
                .back-button, .order-button {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .mobile .content {
        max-width: 575px;
        margin: 0 20px;

        .main-content {
            margin: 50px auto;
            display: block;
            justify-content: initial;

            .aside {
                display: none;
            }

            .mobile-aside {
                padding: 0;

                .offcanvas-header {
                    border-bottom: 1px solid rgba(130,130,130,0.3);

                    .offcanvas-title {
                        text-align: center;
                    }
                }

                .offcanvas-body {
                    padding: 30px 72px 0;

                    .list-group {
                        list-style-type: none;

                        .nav-link {
                            padding: 5px 0;
                            color: #82868a;
                        }
                    }
                }
            }

            .product-view {
                .row {
                    .product-photo {
                        padding: 0;
                        align-items: baseline;
                        margin-bottom: 30px;

                        img {
                            max-width: 50%;
                            width: auto;
                        }
                    }

                    .product-description {
                        padding: 0;
                        max-width: 100%;
                        width: auto;
                        margin: 0 auto;

                        .description {
                            border-bottom: 2px solid rgba(130,130,130,.3);
                            padding-bottom: 50px;

                            .product-title {
                                font-size: 1.5rem;
                            }

                            .product-price {
                                font-size: 1.5rem;
                                margin: 0;
                                font-weight: 600;
                            }

                            .text-content {
                                display: none;
                            }
                        }

                        .purchase {
                            width: 100%;
                            justify-content: space-between;
                            display: inline-flex;
                            float: none;

                            .add-to-card {
                                display: flex;
                                align-items: center;
                                gap: 15px;

                                p {
                                    margin: 0;
                                }

                                svg.bi-basket {
                                    flex-shrink: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        #popup {
            padding: 0;
            width: 65%;
            .popup {
                .back-button, .order-button {
                    font-size: 15px;
                }

                .back-button {
                    padding: 5px 31px;
                }
            }
        }
    }
}
